include README.md
include THIRD_PARTY_NOTICES.md
include configs/apex_strain_groups.yaml
include configs/sampling.yaml
include configs/optimization.yaml
include docs/usage.md
include docs/images/Fig_1.png
